Tourism/tour.sublime-*
Tourism/db.sqlite3
Tourism/Tourism/settings/local.py
Tourism/Tourism/settings/base.py
requirements.txt 
Tourism/settings/__pycache__/
Tourism/Tourism/settings/__pycache__*
Tourism/static/ztour/
Tourism/static/
*__pycache__/
Tourism/media/
Tourism/ztour/migrations/*
