<!-- <html lang="en-US">
<head>   
<title>PowerPlants</title>
</head>

<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6 group-blog">
 <p> Hello Server for RED Power Plants ! :)(: </p>
    
        
</body>
</html>
 -->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bhutanese Touch</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="{% static 'ztour/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'ztour/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"> -->
    <link href="{% static 'ztour/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <!-- <link href="css/creative.min.css" rel="stylesheet"> -->

    <link href="{% static 'ztour/css/creative.min.css' %}" rel="stylesheet">

    <style type="text/css">
      section {
    padding: 20px 0;}
    </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">HEMCO TOURS</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
     <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </header>
    </section>

   <!--  <section>
      <div class="container">
        *Nice line from Ratan Tata's Lecture- in London*
        <p> 
        ￼👉🏿1.
        Don't educate
        your children
        to be rich.
        Educate them
        to be Happy.
        So when
        they grow up
        they will know
        the value of things
        not the price.
        </p>
        <p>
        ￼👉🏿2.
        "Eat your food
        as your medicines.
        Otherwise
        you have to
        eat medicines
        as your food."
        </p>
        <p> 
        ￼👉🏿3.
        The One
        who loves you
        will never leave you
        because
        even if there are
        100 reasons
        to give up
        he/she will find
        one reason
        to hold on.
        </p>
        <p>   
        ￼👉🏿4.
        There is
        a lot of difference
        between
        _human being_
        and _being human._
        A Few understand it.
        </p>
        <p>   
        ￼👉🏿5.
        You are loved
        when you are born.
        You will be loved
        when you die.
        In between
        You have to manage...!
        </p>
        <p>   
        ￼👉🏿6.
        If u want to Walk Fast, 
        Walk Alone..!
        But 
        if u want to Walk Far,
        Walk Together..!!
        </p>
        <p>   
        ￼👉🏿7.
        Six Best Doctors in the World-
        1.Sunlight
        2.Rest
        3.Exercise
        4.Diet
        5.Self Confidence
        &
        6.Friends
        Maintain them in all stages of Life and enjoy healthy life
        </p>  
        <p> 
        ￼👉🏿8.
        If you see the 
        moon ..... 
        You see the 
        beauty of God ..... 
        If you see 
        the Sun ..... 
        You see the 
        power of God ..... 
        And .... If you see 
        the Mirror ..... 
        You see the 
        best Creation 
        of GOD .... 
        So Believe in 
        YOURSELF.....

        We all are tourists & God is our travel agent who 
        already fixed all our Routes Reservations & Destinations.

        *So Trust him & Enjoy the "Trip" called LIFE...*
      </div>
    </section> -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Ready to start your Journey with us? That's great! Book a tour and we follow you through!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>+975-77200613</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p>Arun kr. Adhikari
              <a href="mailto:your-email@your-domain.com">arunadhikari405@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'ztour/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ztour/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'ztour/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'ztour/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'ztour/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'ztour/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!--{% static 'ztour/ Custom scripts for this te' %}mplate -->
    <script src="{% static 'ztour/js/creative.min.js' %}"></script>

  </body>

</html>