{% extends 'b.html' %}

{% block content %}
<header class="masthead row">
	<div class="col-lg-3 mx-auto text-center" style="padding-top: 150px; ">
	 <h1>Message Details</h1>
	</div>
	<div class="col-lg-9 mx-auto text-center" style="padding-top: 30px;">
	    <form method="POST" class="form-group post-form">{% csrf_token %}
	        {{ form.as_p }}
	        <button type="submit" class="save btn btn-success">Submit</button>
	    </form>
	<div class="col-lg-8 mx-auto text-center">    
</header>
{% endblock %}    