{% extends 'base.html' %}
{% load staticfiles %}

{% block section_1 %}

<section id="services">
      <div class="container">
        

	      <div class="row">
          	<div class="col-lg-4">
             <!-- inquiry form -->
              <div class="card card-register mx-auto">
              	<div class="card-header bg-dark-green font-style">
                   	<p class="card-title mb-1" style="color: #B78D38; font-size: 1em">Enquiry Form</p>
                </div>
                  <div class="card-body">
                    <form method="POST" class="form-group post-form dark-text">{% csrf_token %}
                        {{ contact_form.as_p }}
                        <hr>
                          <button type="submit" class="save btn btn-primary btn-sm">Submit</button>
                        
                    </form>
                  </div>
              </div>
        	</div>
        	<!-- inquiry form End -->

	          <div class="col-lg-8">
	            <div class="col-lg-12 mx-auto text-center">
	                <h4 class="section-heading">Collection of Our Experiences</h4>
	                <hr class="primary">
	            </div>

	            <div class="row">     
	              {% for pic in all_gallery_pics %}  
	            <!-- Example Social Card-->
	              <div class="col-lg-4 card "  style="margin-bottom: 2px;">
	                <div class="row">
	                  <div class="col-lg-4" style="padding: 0px;">
	                      <a class="example-image-link" href="/media/{{ pic.image.document }}" data-lightbox="example-1"><img class="example-image" src="/media/{{ pic.thumb_nail.document }}" alt="image-1" /></a>
	                  </div>
	                </div>      
	              </div>
	            <!-- End of Social card -->

	              {% endfor %}
	            </div>

	          <!-- /Card Columns-->
	          </div>            
	      </div>
	    </div>
	    <!-- End Container -->
    </section>

{% endblock %}