{% extends 'base.html' %}
{% load staticfiles %}
{% load tinymce_tags %}

{% block section_1 %}


	<section id="services">
		{% tinymce_preview "preview-content" %}
      <div class="container">
        

	      <div class="row">
          	<div class="col-lg-4">
                 <!-- inquiry form -->
                  <div class="card card-register mx-auto">
                    <div class="card-header bg-dark-green font-style">
                    	<h6 class="card-title mb-1"><a href="#">Enquiry Form</a></h6>
                    </div>
                      <div class="card-body">
                        <form method="POST" class="form-group post-form dark-text">{% csrf_token %}
                            {{ contact_form.as_p }}
                            <hr>
                              <button type="submit" class="save btn btn-primary btn-sm font-style">Submit</button>
                            
                        </form>
                      </div>
                  </div>
                 <!-- inquiry form End -->
                 <div class="col-lg-12 mx-auto text-center">
	            <!-- Fb plugin -->
	            <!-- facebook -->
			         <div class="col-lg-12 text-center">
			          <div class="fb-page" data-href="https://www.facebook.com/Tribute-Tours-Treks-366555370488700/" data-tabs="timeline, events, messages" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Tribute-Tours-Treks-366555370488700/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Tribute-Tours-Treks-366555370488700/">Tribute Tours &amp; Treks</a></blockquote></div>
			        </div> 
        		<!-- End facebook -->
        		</div>
            </div>

	          <div class="col-lg-8">
	            <div class="col-lg-12 mx-auto text-center">
	                <h4 class="section-heading">{{ post.title }}</h4>
	                <hr class="primary">
	            </div>

	            <div class="row">     
	           
	             <!-- Example Social Card-->
	              <div class="col-lg-12 card "  style="margin-bottom: 5px;">
	                <div class="row">
	                  <div class="col-lg-12 bg-dark-green" style="padding: 0px;">
	                      <a href="#">
	                        <img class="card-img-top img-fluid w-100" style="max-height: 190px" alt="" src="/media/{{ post.image.document }}">
	                      </a>
	                  </div>
	                  <div class="col-lg-12 bg-dark-green">    
	                      <div class="card-body">
	                        <p class="card-text small"><h6><strong>{{ post.short_desc }}</strong></h6></p>
	                        <br>
	                        <div id="preview-content" style="font-family: 'pt serif';">{{ post.content | safe}}</div>
	                      </div>
	                  </div> 
	                      <!-- <div class="col-lg-12 card-footer small text-muted" >Posted yesterday</div> -->
	                </div>      
	              </div>

	              <!-- End of Social card --> 
	            </div>

	          <!-- /Card Columns-->
	          </div>            
	      </div>
	    </div>
	    <!-- End Container -->
    </section>

{% endblock %}