<html>
{% extends 'base_generic.html' %}

{% block content %}
  <!-- 
    Put Here Gallery
   -->
   
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">We've got to work to get the Best!</h2>
          <hr class="light">
          <p class="text-faded">Lets Do it.  Everything you need to get your new website up and running in no time! All of the templates and themes on are open source, and easy to use. No strings attached!  </p>
          <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Book your Tour!</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
</html>